[Unit]
Description=camlistore
After=mysql.service
Requires=mysql.service

[Service]
User={{remote_user}}
ExecStart=/home/{{become_user}}/go/src/camlistore/bin/camlistored
RestartSec=1s
Restart=always

[Install]
WantedBy=multi-user.target
