{
    "auth": "userpass:{{camlistore_user_name}}:{{camlistore_user_pass}}",
    "listen": ":3179",
    "identity": "{{gpg_fingerprint}}",
    "identitySecretRing": "{{gpg_dest}}",
    "packRelated": true,
    "mysql": "root@localhost:{{mysql_root_pass}}",
    "dbname": "camlistore",
    "blobPath": "/home/{{ansible_user}}/var/camlistore/blobs"
}
